<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    {{{html}}}

    <!-- Highlight.js - Code highlighting. -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/nord.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Highlight.js -->
</body>

</html>